@charset "UTF-8";
/* Цвет оглавлений текста #212121 */
/* Цвет основного текста #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный для footer #FFFFFF; */
/* цвет body фона #e5e5e5 */
/* цвет фона team #f5f4fa */
/* цвет фона hero  #2F303A; */
:root {
  --main-text-color: #212121;
  --title-text-color: #757575;
  --accent-text: #2196f3;
  --white: #ffffff;
  --background-body-section: #e5e5e5;
  --background-team-section: #f5f4fa;
  --background-hero-section: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: rgb(255, 255, 255, 0.1);
  --timing-fn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-page {
  border-bottom: 1px solid #ececec;
  background-color: var(--white);
}

.header.container {
  display: flex;
  align-items: center;
}

/* logo */
.logo-name {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(Raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.first-logo-name {
  color: var(--accent-text);
}

.second-logo-name {
  color: var(--main-text-color);
}

/* nav */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  transition: color var(--timing-fn);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
  color: var(--title-text-color);
}

.contact-icon {
  fill: currentColor;
}

.contact-case:not(:last-child) {
  margin-right: 30px;
}

.contact.link {
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--timing-fn);
}

.contact-icon {
  margin-right: 10px;
}

.contact.link:hover,
.contact.link:focus {
  color: var(--accent-text);
  transition: color var(--timing-fn);
}

.contact.link:hover .contact-icon,
.contact.link:focus .contact-icon {
  fill: var(--accent-text);
}

.contact-case {
  display: flex;
  align-items: center;
}

.site-nav.list {
  padding-left: 0;
}

.site-nav.list,
.contact.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link.current {
  color: var(--accent-text);
  position: relative;
}

.link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text);
  border-radius: 2px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-hero-section);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
  min-width: 200px;
  color: var(--white);
  background-color: var(--accent-text);
  font-family: var(Roboto, sans-serif);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.section.priority {
  padding-top: 94px;
}

.priority.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.priority.list > .item {
  min-width: 270px;
}

.priority.list > .item:not(:last-child) {
  margin-right: 30px;
}

.priority.list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.priority.list .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.container-priority.icon {
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: #f5f4fa;
}

.doing.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.doing.list > .item {
  position: relative;
}

.doing.list > .item:not(:last-child) {
  margin-right: 30px;
}

.doing-list-preview {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

.section.team {
  padding-top: 94px;
  background-color: var(--background-team-section);
}

.team.list {
  display: flex;
  text-align: center;
  background: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.team.list > .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team.list > .item:not(:last-child) {
  margin-right: 30px;
}

.photo {
  margin-top: 0;
  margin-bottom: 30px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.specialty {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.social-list.list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 0;
}

.social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--timing-fn);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill var(--timing-fn);
}

.social-list.link:hover,
.social-list.link:focus {
  background-color: var(--accent-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list.link:hover .social-list-icon,
.social-list.link:focus .social-list-icon {
  fill: var(--white);
  transition: fill var(--timing-fn);
}

.section.clients {
  padding-top: 94px;
}

.clients.list {
  display: flex;
  padding: 0;
  margin: 0;
}

.clients.item:not(:last-child) {
  margin-right: 30px;
}

.clients-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  margin: 0;
  transition: border-color var(--timing-fn);
}

.clients-list.link:hover,
.clients-list.link:focus {
  border-color: var(--accent-text);
  transition: border-color var(--timing-fn);
}

.clients-logo {
  fill: #afb1b8;
  transition: fill var(--timing-fn);
}

.clients-list.link:hover .clients-logo,
.clients-list.link:focus .clients-logo {
  fill: var(--accent-text);
  transition: fill var(--timing-fn);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero-section);
}

.footer-page.container {
  display: flex;
  align-items: baseline;
}

.address-container > .logo-name {
  margin-bottom: 20px;
  display: block;
}

.third-logo-name {
  color: #ffffff;
}

.address-container {
  margin-right: 70px;
}

.address {
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address > .list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.address.list > .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact.item {
  display: block;
}

.address.list .link.street {
  color: var(--white);
}

.address.list .link {
  color: var(--footer-link-color);
}

.transition {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.join {
  margin-right: 93px;
}

.join .social-list.list {
  margin-bottom: 0;
}

.footer-social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--timing-fn);
}

.footer-social-list.link:focus,
.footer-social-list.link:hover {
  background-color: var(--accent-text);
  transition: background-color var(--timing-fn);
}

.footer-social-list-icon {
  fill: var(--white);
}

.subscribe-box {
  display: flex;
  align-items: flex-end;
}

.subscribe {
  margin-right: 12px;
}

.subscribe-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-hero-section);
}

.subscribe-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-link-color);
}

.subscribe-email:focus {
  outline: none;
}

.icon-send {
  fill: currentColor;
}

.subscribe-box .modal-form-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--timing-fn);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
  transition: transform var(--timing-fn);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  padding: 40px;
  transition: transform var(--timing-fn);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn-icon {
  transition: var(--timing-fn);
}

.close-btn:focus .close-btn-icon,
.close-btn:hover .close-btn-icon {
  fill: var(--accent-text);
}

.modal-box {
  text-align: center;
}

.modal-text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-text-color);
}

.modal-form-field {
  display: block;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--timing-fn);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-text);
  transition: border-color var(--timing-fn);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-text);
}

.modal-form-input.comment {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: var(--timing-fn);
}

.modal-form-policy-text {
  display: inline-block;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.policy.link {
  text-decoration: underline;
  color: var(--accent-text);
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .icon-check {
  background-color: var(--accent-text);
  background-image: url(../imeges/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid var(--accent-text);
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid var(--main-text-color);
  content: "";
  border-radius: 2px;
  margin-bottom: -2px;
}

.modal-form-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
  min-width: 200px;
  color: var(--white);
  background-color: var(--accent-text);
  font-family: var(Roboto, sans-serif);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

body {
  background-color: var(--background-priority-section);
  color: var(--main-text-color);
  font-family: var(Roboto, sans-serif);
  letter-spacing: var(0.03em);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color var(--timing-fn);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section {
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

img {
  display: block;
}
/*# sourceMappingURL=main.css.map */