.section.priority {
  padding-top: 94px;
}
.priority.list {
  display: flex;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.priority.list > .item {
  min-width: 270px;
}

.priority.list > .item:not(:last-child) {
  margin-right: 30px;
}

.priority.list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.priority.list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}



.container-priority.icon {
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: #f5f4fa;
}